.loader {
  background: var(--neutral-background-strong);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.loaderContainer {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  span {
    color: var(--neutral-on-background-strong);
    font-size: var(--font-size-m);
    letter-spacing: 2px;
    animation: pulse 1.5s ease-in-out infinite;
  }
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--primary-solid-strong);
  position: absolute;
  top: 20px;
  animation: bounce 1.5s ease-in-out infinite;

  &:nth-child(1) {
    left: 15px;
    animation-delay: 0s;
  }

  &:nth-child(2) {
    left: 42px;
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    left: 69px;
    animation-delay: 0.4s;
  }
}

.shadow {
  width: 16px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 62px;
  animation: shadow 1.5s ease-in-out infinite;

  &:nth-child(4) {
    left: 15px;
    animation-delay: 0s;
  }

  &:nth-child(5) {
    left: 42px;
    animation-delay: 0.2s;
  }

  &:nth-child(6) {
    left: 69px;
    animation-delay: 0.4s;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.1;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}